body {
    padding:0;
    margin:0;
}

main {
    display : flex;
    justify-content: center; 
    flex-direction:row;
    text-align: center;
    flex-wrap: wrap;
    background-color: green;
}


main div {
    background-color: red;
    margin: 2rem 5rem 5rem 5rem;
    display: flex;
    flex-direction: column;
    border: black;
    width: auto;
}

.navbar-brand img {
    height: 50px;
    width: 60px;
}

.contenue{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: space-between;
}

h1 {
    margin: 1rem;
}

.footer ul {
    list-style-type: none;
    text-align: center;
    margin: 2rem 0 0rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    height: 15rem;
}
.footer li {
    color: white;
    font-size: 2rem;
    font-family: 'Cabin', sans-serif;
}
.footer a {
    text-decoration: none;
    color: white;
}
.icone {
    margin: 2rem 2rem 0 2rem;
    width: 35px;
    height: 35px;
}

img {
    margin: 25px,25px,25px,25px;
    width : 225px;
    height: 200px;
}

.first, .second, .third {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn_commander {
    margin-top: -5rem;
    width: 50%;
    background-color: #607DFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.dynamic_cart{
    position: absolute;
    background-color: lightblue;
    width: 15rem;
}

.before_reduc {
    color: red;
    text-decoration:line-through;
}

.after_reduc {
    color: #2ED800;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}